[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
bs4 = "*"
schedule = "*"
python-firebase = "*"
PyDrive = "*"
PyPDF2 = "*"


[requires]

python_version = "3.6"
